/**
 * CSS Style for Time interval demo app
 * @author Amitesh Kumar
 * 
 */

/* Import fonts from google open font library */
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

/* Set a nice background */
html, body{
  background: url(../img/roughcloth.png) ;
}

body {
  font-family:'Lato', sans-serif;
  color:#333;
  line-height: 1.7;
  font-size:18px;
}

h1, h2, h3, p, code, ul, ol {
  text-shadow:0 1px 0 rgba(255,255,255,1);
}

a {
    color:#ed3314;
    text-decoration: none;
}

h1 {
    font-size:56px;
    margin:10px 0 0;
}

h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 30px 0 12px;
  padding-bottom: 5px;
}
      
.center{
  text-align: center;
}

.day{
  border-bottom: 1px dotted #C4C0BC;
  margin-bottom: 4px;
  padding-bottom: 6px;
}

.day-label{
  margin-right: 10px;
  text-align: right;
  width: 75px;
}
.time-ticker .btn{
  margin-top:5px;
  margin-left: 2px;
}

.hour-container{
  width: 487px;
}

#hr-widget.time-ticker .btn{
  font-size: 12px;
  margin-left: 2px;
  margin-top: 2px;
  padding: 2px 4px;
}

#hr-widget .hour-container{
  width:360px;
}

.day-label, .am-pm{
  font-weight: bold;
  cursor: default;
}

.time-ticker .btn{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.alert{
  font-size: 14px;
}